<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="probootstrap_section probootstrap-border-top footerContainer">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-12 text-center footer">
        <p class="probootstrap_font-14">&copy; 2018. All Rights Reserved.
          <br> Designed &amp; Developed by
          <a href="https://probootstrap.com/" target="_blank">ProBootstrap</a>
        </p>
        <p class="probootstrap_font-14">Image Source:
          <a href="https://unsplash.com/" target="_blank">Unsplash</a>
        </p>
      </div>
    </div>
  </div>
</footer>
